.page-indent {
    padding-left: 25px;
    padding-top: 5px;
}

table {
    border: 2px solid black;
    border-collapse: separate;
    border-spacing: 10px 2px;
    padding-top: 5px;
    padding-bottom: 5px;
}

td {
    padding: 5px;
    font-size: 110%;
}

/* Size of the form inputs */
input[type="text"] {
    font-size: 75%;
}

a.top-right {
    position: absolute;
    z-index: 1;
    width: clamp(50px, 8vmax, 80px);
    line-height: 0;
    color: rgba(255, 255, 255, 0.5);
    top: 10px;
    right: 10px;
}

a.top-right path {
    fill: #258bd2;
}

a.top-right:hover {
    color: white;
}

.button {
    background-color: #238BD2;
    border: none;
    color: white;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
    border-radius: 12px;
}

#snackbar {
    visibility: hidden;
    min-width: 100px;
    margin-left: -100px;
    background-color: #238BD2;
    color: #fff;
    text-align: center;
    border-radius: 12px;
    padding: 10px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

#cachetable th {
    border: 1px solid;
    padding-top: 5px;
    padding-bottom: 5px;
}

#cachetable td {
    border: 1px solid;
}

#cachetable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#optional {
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
    background: #238BD2;
    text-decoration: underline;
    text-decoration-color: #238BD2;
}

.spacer {
    padding-left: 30px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip img {
    vertical-align: text-top;
    border-radius: 50%; /* eliminates the white border */
}

.tooltip img:hover {
    background-color: #F57F00; /* inverse of desired blue color */
    filter: invert(100%);
    border-radius: 50%; /* eliminates the white border */
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.occurrence {
    width: 60px;
    font-size: 90%;
}

.backlink a:link {
    text-decoration: none;
}

.backlink a:hover {
    cursor: pointer;
    color: red;
}

#whatisthis p {
    width: 50%;
    font-size: 110%;
    line-height: 1.30;
}

